.grid {
  width: 100%;
  margin-bottom: var(--mantine-spacing-md);
}

.thumbnail {
  border-radius: var(--mantine-radius-md);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-4)
  );
  cursor: pointer;
}

.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: var(--mantine-shadow-md);
}
